:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

body {
  font-family: sans-serif;
  background-color: var(--slate-300);
  align-items: center;
}
.card {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  text-align: center;
}
.qr-image {
  width: 100px;
}
h1 {
  font-size: 20px;
  color: var(--slate-900);
}
p {
  font-size: 15px;
  color: var(--slate-500);
}
