body {
  font-family: sans-serif;
  background-color: hsl(212, 45%, 89%);
  align-items: center;
  height: 100vh;
}
.card {
  background-color: #ffffff;
  width: 300px;
  text-align: center;
}
.qr-image {
  width: 100px;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 15px;
}
